<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hello AP4R World!</title>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<address lang="en-US" xml:lang="en-US" style="text-align: right; padding: 0.3em 1em; font-size: smaller;">
  Copyright &copy; 2007 Future Architect, Inc.
  AP4R is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT Licence</a>.
</address>

</body>
</html>
