<html>
<head>
  <title>load and replace by JavaScript test</title>
</head>
<body bgcolor="#CCFF99">

  <script language="JavaScript">
    function loadAndReplace() {
      var url_base = '<%= url_for(:action => :retention_status_by_gruff) %>';
      var time = (new Date()).getTime();
      var url = url_base + "?time=" + time;
//      var type = top.menu.document.gconf.gtype.value;
//      var url = url + "&type=" + type;
//      var theme = top.menu.document.gconf.gtheme.value;
//      var url = url + "&theme=" + theme;
//      var interval = top.menu.document.gconf.ginterval.value;
//      var url = url + "&interval=" + interval;
//      var range = top.menu.document.gconf.grange.value;
//      var url = url + "&range=" + range;

//      alert(url);
      (new Image()).src=url;
//      alert(document.retention_status_image);
      document.retention_status_image.src=url;
    }
  </script>

<img src="<%= url_for :action=>'retention_status_by_gruff',
      :time => Time.now.to_i%>"
     id="retention_status_image"
     name="retention_status_image"
     onload="setTimeout('loadAndReplace()', 2*1000)";
  />
</body>
</html>
